.ending{
    width: 900px;
}
.endingScene{
    width: 800px;
    height: 400px;
    margin: 50px auto 50px auto;
    border-radius: 25px;
    box-shadow: 10px 10px 20px #d1d9e6 inset,
    -10px -10px 20px #fff inset;
}