.ranking{
    width: 500px;
}
.umaRanking{
    width: 90%;
    height: 80px;
    box-shadow: 10px 10px 20px #d1d9e6 inset,
    -10px -10px 20px #fff inset;
    margin: 20px auto;
    border-radius: 20px;
}
.rankingNum{
    box-shadow: 8px 8px 16px #d1d9e6,
    -8px -8px 16px #fff;
    width: 50px;
    height: 50px;
    border-radius: 20px;
    font-size: 20pt;
    color: #fff;
    line-height: 50px;
    text-align: center;
    font-weight: bold;
    margin: 15px;
    float: left;
}

.rankingImg{
    width: 60px;
    height: 60px;
    float: left;
    margin: 10px;
    border-radius: 20px;
    box-shadow: 4px 4px 12px #d1d9e6,
    -4px -4px 12px #fff;
}
.umaRankingName{
    width: 260px;
    height: 50px;
    margin: 15px;
    float: left;
    line-height: 50px;
    font-size: 20pt;
    font-weight: bold;
}
.successBut{
    width: 160px;
    height: 60px;
    background: linear-gradient( -45deg, #6cc6cb, #eae5c9 );
    box-shadow: 0 0 5px #6cc6cb,
    0 0 5px #eae5c9;
    cursor: pointer;
    font-size: 20pt;
    font-weight: bold;
    color: #fff;
    line-height: 60px;
    border-radius: 30px;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -120px;
    position: absolute;
    text-align: center;
    transition: .2s;
}
.successBut:hover{
    box-shadow: 10px 10px 20px #eae5c9,
    -10px -10px 20px #6cc6cb;
}
.successBut:active{
    box-shadow: 10px 10px 20px #bba892 inset,
    -10px -10px 20px #5c82b4 inset;
}